.Sidebar{
    display:flex;
    flex-direction: column;
    width: 12rem;
    font-size: .75rem;
    color: #646a70;
}

.teams{
    display:flex;
    flex-direction: column;
    white-space: normal;
}

.sidebar-a{
    width:100%;
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
    margin-left: 2rem;
}

.sidebar-a:hover{
    color: black;
}

.active{
    background-color: #f1f2f3;
    color: #000;
    font-weight: bolder;
    border-right: .2rem solid #f48225;
    margin-left: 0;
}

.teams{
    display:flex;
    flex-direction: column;
    border: .05rem solid #d6d9dc;
    border-right: 0;
    font-size: .75rem;
    align-items: center;
}

.bteams-btn:hover{
    background-color: #f1f2f3;
}

.svg-icon {
    height: 1.2rem;
    margin-right: 0.8rem;
}

.coll{
    margin-left: 0;
}

.fc-orange-400{
    fill: #f48225;
}