html {
    font-size: 16px;
    white-space: nowrap;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.btn{
    height: 2rem;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-lblue{
    background-color: #e1ecf4;
    border: .05rem solid #39739d;
    color: #39739d;
}

.btn-lblue:hover{
    background-color: #bee1fa;
}

.btn-blue{
    background-color: #0a95ff;
    border: .05rem solid #7aa7c7;
    color: #fff;
}

.btn-blue:hover{
    background-color: #0877cc;
}

input{
    outline: none;
}

.content{
    padding: 4rem 16.5rem;
}